@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
  margin-top: 4em;
  overflow-x: hidden;
  background-color: #343940;
}

body {
  background-color: #343940;
}

main {
  overflow-x: hidden;
}

h1, h2, h3, h4, p, code {
  margin-left: 6% !important;
  margin-right: 6% !important;
}

p {
  font-family: "Roboto Mono";
  color: #6b0e0e;
}

a {
  font-family: "Roboto Mono";
  color: #baa2a2;
}

h1 {
  font-family: "Roboto Mono";
  color: #540a0a;
}

h2 {
  font-family: "Roboto Mono";
  color: #540a0a;
}

h3 {
  font-family: "Roboto Mono";
  color: #540a0a;
}

h4 {
  font-family: "Roboto Mono";
  color: #540a0a;
}

li {
  font-family: "Roboto Mono";
  color: #6b0e0e;
}

code {
  font-family: monospace;
  color: #ffffff;
}

.soundbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    color: #fff;
}

.soundbutton:hover {
    background-color: #555;
}

.bg1 {
  background-color: #540a0a !important;
  color: #ffffff;
  padding: 10px;
  width: 100% !important;
  margin: 0;
}

.bg2 {
  background-color: #2a334a !important;
  color: #ffffff;
  padding: 10px;
  width: 100% !important;
  margin: 0;
}
